<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prep | prod">
        <include resource="org/springframework/boot/logging/logback/base.xml" />

        <property name="LOG_HOME" value="/data/logs/u-bossup-api-hxp/" />
        <property name="LOG_ERROR_HOME" value="/data/logs/u-bossup-api-hxp/" />
        <property name="LOG_FILE_NAME" value="u" />

        <!-- 文件输出 -->
        <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/${LOG_FILE_NAME}_info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME}/${LOG_FILE_NAME}_info.log.%d{yyyy-MM-dd}</fileNamePattern>
                <!-- 如果按天来回滚，则最大保存时间为60天，60天之前的都将被清理掉，这里的值与滚动策略模式有关 -->
                <maxHistory>3650</maxHistory>
                <!-- 按照日期进行归档，并且对日志文件大小进行限制 -->
                <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    &lt;!&ndash; 设置文件大于10MB进行压缩归档 ，此时fileNamePattern要加%i &ndash;&gt;
                    <maxFileSize>100MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>-->
            </rollingPolicy>
            <encoder>
                <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger[%line] - %msg %n</pattern> -->
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- ERROR文件输出 -->
        <appender name="errorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/${LOG_FILE_NAME}_error.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_ERROR_HOME}/${LOG_FILE_NAME}_error.log.%d{yyyy-MM-dd}</fileNamePattern>
                <!-- 如果按天来回滚，则最大保存时间为60天，60天之前的都将被清理掉，这里的值与滚动策略模式有关 -->
                <maxHistory>3650</maxHistory>
                <!-- 按照日期进行归档，并且对日志文件大小进行限制 -->
                <!--<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    &lt;!&ndash; 设置文件大于100MB进行压缩归档 ，此时fileNamePattern要加%i &ndash;&gt;
                    <maxFileSize>100MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>-->
            </rollingPolicy>
            <encoder>
                <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger[%line] - %msg %n</pattern> -->
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <!--<appender-ref ref="FILE" />-->
            <appender-ref ref="rollingFile"/>
            <appender-ref ref="errorRollingFile"/>
        </root>
    </springProfile>

    <springProfile name="!(prep | prod)">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>